Repository wp-cli/entity-command, pull requests merged in 2019-03, with the labels that each got.

#236 Reset option value to default for privacy policy on site empty
  features/site-empty.feature
  src/Site_Command.php
Labels: command:site-empty

#238 Regenerate README based on latest changes
  README.md
Labels: scope:documentation

#241 Add count to post-type and taxonomy commands
  README.md
  features/post-type.feature
  features/taxonomy.feature
  src/Post_Type_Command.php
  src/Taxonomy_Command.php
Labels: command:post-type-list, command:taxonomy-list
