Repository wp-cli/entity-command, pull requests merged in 2019-11, with the labels that each got.

#266 Docs: Disable curl buffer for fetching content example
  src/Post_Command.php
Labels: command:post-generate, scope:documentation

#273 Fix minor PHPCS violation
  src/User_Session_Command.php
Labels: bug

#276 Add preliminary PHP 7.4 testing
  .travis.yml
  src/User_Command.php
  src/User_Session_Command.php
Labels: scope:distribution

#272 Improve wp comment spam output
  features/comment.feature
  src/Comment_Command.php
Labels: command:comment-spam
