Repository wp-cli/entity-command, pull requests merged in 2019-04, with the labels that each got.

#244 Fix logic error in presence of 'site meta' check
  entity-command.php
Labels: bug, command:site-meta

#215 Harmonize representation of serialized and JSON-encoded meta values
  features/comment-meta.feature
  features/post-meta.feature
  features/user-meta.feature
  src/WP_CLI/CommandWithMeta.php
Labels: breaking-change, command:comment-meta-list, command:post-meta-list, command:term-meta-list, command:user-meta-list

#246 Move PHP 5.4 tests from `WP_VERSION` `latest` to `5.1`
  .travis.yml
Labels: scope:distribution

#250 Enhancement: Add PHP 7.3 to Travis CI build matrix
  .travis.yml
Labels: scope:testing

#189 Check for `STDIN` if `--post_content` is used
  features/post-generate.feature
  src/Post_Command.php
Labels: command:post-generate

#247 Allow deleting multiple options at once
  features/option.feature
  src/Option_Command.php
Labels: command:option-delete

#251 Implement CS checking based on the `WP_CLI_CS` ruleset
  .distignore
  .gitignore
  composer.json
  entity-command.php
  phpcs.xml.dist
  src/Comment_Command.php
  src/Comment_Meta_Command.php
  src/Menu_Command.php
  src/Menu_Item_Command.php
  src/Menu_Location_Command.php
  src/Network_Meta_Command.php
  src/Option_Command.php
  src/Post_Command.php
  src/Post_Meta_Command.php
  src/Post_Term_Command.php
  src/Post_Type_Command.php
  src/Site_Command.php
  src/Site_Meta_Command.php
  src/Site_Option_Command.php
  src/Taxonomy_Command.php
  src/Term_Command.php
  src/Term_Meta_Command.php
  src/User_Command.php
  src/User_Meta_Command.php
  src/User_Session_Command.php
  src/User_Term_Command.php
  src/WP_CLI/CommandWithDBObject.php
  src/WP_CLI/CommandWithMeta.php
  src/WP_CLI/CommandWithTerms.php
  src/WP_CLI/Entity/NonExistentKeyException.php
  src/WP_CLI/Entity/RecursiveDataStructureTraverser.php
  src/WP_CLI/Fetchers/Comment.php
  src/WP_CLI/Fetchers/Post.php
  src/WP_CLI/Fetchers/Site.php
  src/WP_CLI/Fetchers/User.php
  tests/RecursiveDataStructureTraverserTest.php
Labels: scope:testing

#252 Rename `phpunit.xml` to `phpunit.xml.dist`
  phpunit.xml.dist
Labels: scope:distribution

#253 Update README.md file
  README.md
Labels: scope:documentation

#254 Add `--unserialize` option for meta list
  README.md
  features/comment-meta.feature
  features/post-meta.feature
  features/user-meta.feature
  src/User_Meta_Command.php
  src/WP_CLI/CommandWithMeta.php
Labels: command:comment-meta-list, command:post-meta-list, command:term-meta-list, command:user-meta-list
