Repository wp-cli/entity-command, pull requests merged in 2022-01, with the labels that each got.

#330 Add application password commands
  entity-command.php
  features/user-application-password.feature
  phpcs.xml.dist
  src/User_Application_Password_Command.php
Labels: command:user-application-password

#275 Recalculate menu order on insertion or deletion
  composer.json
  features/menu-item.feature
  src/Menu_Item_Command.php
Labels: command:menu-item-add-custom, command:menu-item-add-post, command:menu-item-add-term, command:menu-item-delete

#256 Add strict/no-strict mode for taxonomy list
  features/taxonomy.feature
  src/Taxonomy_Command.php
Labels: command:taxonomy-list
