Repository wp-cli/entity-command, pull requests merged in 2022-08, with the labels that each got.

#358 Sync user-contributed example to `wp user delete`
  src/User_Command.php
Labels: scope:documentation, command:user-delete

#360 Support filtering for users without a role with `--role=none`
  features/user-list.feature
  src/User_Command.php
Labels: command:user-list

#365 Document `primary_blog` meta key for users
  README.md
  src/User_Meta_Command.php
Labels: scope:documentation, command:user-meta, command:user-meta-get

#366 Add `wp post meta clean-duplicates <id> <key>` command
  README.md
  composer.json
  features/post-meta-clean-duplicates.feature
  features/post-meta.feature
  src/Post_Meta_Command.php
Labels: command:post-meta-clean-duplicates

#367 Allow `wordpress-core-installer` to write in `composer.json`
  composer.json
Labels: scope:distribution
