Repository wp-cli/entity-command, pull requests merged in 2022-09, with the labels that each got.

#368 Fix JSON formatting in feature file
  features/post-meta.feature
Labels: scope:testing

#372 Allow `user_url` to be set with `wp user create`
  features/user.feature
  src/User_Command.php
Labels: bug, command:user-create

#371 Show error when parameter is missing in wp option patch
  features/option-pluck-patch.feature
  src/Option_Command.php
Labels: bug, command:option, command:option-patch

#375 Issue #374 : Add examples for wp option patch command
  src/Option_Command.php
Labels: scope:documentation, command:option-patch
