Repository wp-cli/entity-command, pull requests merged in 2023-05, with the labels that each got.

#401 Clarify url field in wp site list docs
  README.md
  src/Site_Command.php
Labels: scope:documentation, command:site-list

#398 Add examples and update the documentation to the `wp post term`
  src/Post_Term_Command.php
  src/WP_CLI/CommandWithTerms.php
Labels: scope:documentation

#394 Add --show-password flag to user reset-password
  README.md
  features/user-reset-password.feature
  src/User_Command.php
Labels: command:user, command:user-reset-password

#406 Warn when an invalid role is provided for `wp user update`
  features/user.feature
  src/User_Command.php
Labels: command:user, command:user-update
