Repository wp-cli/entity-command, pull requests merged in 2023-11, with the labels that each got.

#432 Site_Command: Do not assume `get_super_admins()` has the `0` array index
  features/site-create.feature
  src/Site_Command.php
Labels: command:site-create

#431 Improve SQLite compatibility
  features/comment.feature
  features/post.feature
  features/site-create.feature
  features/site-empty.feature
  features/site-option.feature
  features/user-application-password.feature
  src/Site_Command.php
Labels: scope:testing

#434 Fix super admin test on SQLite
  features/site-create.feature
Labels: scope:testing

#436 Add examples on listing unapproved, spam and trash comments
  README.md
  src/Comment_Command.php
Labels: scope:documentation, command:comment-list

#437 Support for adding and removing of multiple user roles
  README.md
  features/user.feature
  src/User_Command.php
Labels: command:user-remove-role, command:user-add-role

#442 Remove RecursiveDataStructureTraverser
  composer.json
  phpunit.xml.dist
  src/Option_Command.php
  src/Site_Option_Command.php
  src/WP_CLI/CommandWithMeta.php
  src/WP_CLI/Entity/NonExistentKeyException.php
  src/WP_CLI/Entity/RecursiveDataStructureTraverser.php
  tests/RecursiveDataStructureTraverserTest.php
Labels: scope:distribution

#443 Reuse `has_stdin()` from framework
  src/Option_Command.php
  src/Post_Command.php
  src/Site_Option_Command.php
  src/User_Command.php
  src/WP_CLI/CommandWithMeta.php
  src/WP_CLI/Entity/Utils.php
Labels: scope:distribution

#445 Add origin and exclude-role-names filters to list-caps command
  features/user.feature
  src/User_Command.php
Labels: command:user, command:user-list-caps

#448 Also fix archiving a site by numeric slug
  features/site.feature
  src/Site_Command.php
Labels: bug, command:site

#449 Add command to get the post ID by URL
  README.md
  composer.json
  features/post-url-to-id.feature
  src/Post_Command.php
Labels: command:post-url-to-id

#451 Add missing documentation
  README.md
  composer.json
Labels: scope:documentation
