Repository wp-cli/entity-command, pull requests merged in 2023-09, with the labels that each got.

#419 Update to WPCS v3
  composer.json
  entity-command.php
  src/Comment_Command.php
  src/Menu_Command.php
  src/Menu_Item_Command.php
  src/Menu_Location_Command.php
  src/Option_Command.php
  src/Post_Command.php
  src/Post_Type_Command.php
  src/Site_Command.php
  src/Site_Meta_Command.php
  src/Site_Option_Command.php
  src/Taxonomy_Command.php
  src/Term_Command.php
  src/User_Application_Password_Command.php
  src/User_Command.php
  src/User_Meta_Command.php
  src/User_Session_Command.php
  src/WP_CLI/CommandWithMeta.php
  src/WP_CLI/CommandWithTerms.php
  src/WP_CLI/Entity/RecursiveDataStructureTraverser.php
  tests/RecursiveDataStructureTraverserTest.php
Labels: scope:testing

#422 Fix typo for `$parent_instance` param in `RecursiveDataStructureTraverser` constructor
  src/WP_CLI/Entity/RecursiveDataStructureTraverser.php
Labels: scope:documentation

#418 Prevent unexpected missed schedules when generating new posts
  features/post-generate.feature
  src/Post_Command.php
Labels: command:post-create, command:post

#416 Add `--slug=<site>` as an available parameter to `wp site` commands
  README.md
  features/site.feature
  src/Site_Command.php
Labels: command:site

#425 Increase precision of `wp post generate` test
  features/post-generate.feature
Labels: scope:testing, command:post-generate
