Repository wp-cli/entity-command, pull requests merged in 2024-04, with the labels that each got.

#492 Add examples for option set-autoload an get-autoload commands
  README.md
  src/Option_Command.php
Labels: scope:documentation, command:option

#494 Use TwentyTwelve theme in menu location test
  features/menu-location.feature
Labels: scope:testing

#496 Support new upstream autoload options
  features/option-get-autoload.feature
  features/option-set-autoload.feature
  features/option.feature
  src/Option_Command.php
Labels: command:option, scope:testing

#495 Support nickname creating user
  features/user.feature
  src/User_Command.php
Labels: command:user-create, command:user-update

#475 Introduce `--format=ids` in user application password list
  features/user-application-password.feature
  src/User_Application_Password_Command.php
Labels: command:user-application-password-list
