Repository wp-cli/entity-command, pull requests merged in 2024-03, with the labels that each got.

#481 Fix warning message in user spam command
  features/user.feature
  src/User_Command.php
Labels: bug, command:user-spam

#483 Update doc for user spam and unspam command
  README.md
  src/User_Command.php
Labels: scope:documentation, command:user-spam, command:user-unspam

#482 Validate reassign user in user delete command
  features/user.feature
  src/User_Command.php
Labels: command:user, command:user-delete

#486 Add user exists command
  README.md
  composer.json
  features/user.feature
  src/User_Command.php
Labels: command:user, command:user-exists

#485 Accept user login and email in spam and unspam commands
  README.md
  src/User_Command.php
Labels: scope:documentation, command:user-spam, command:user-unspam

#487 Add missing `## OPTIONS` in `CommandWithTerms` class
  README.md
  src/WP_CLI/CommandWithTerms.php
Labels: scope:documentation
