Repository wp-cli/entity-command, pull requests merged in 2025-02, with the labels that each got.

#521 Fix tests for WordPress trunk / 6.8
  features/user-application-password.feature
Labels: scope:testing

#515 `wp option` - new autoload values in autoload filter
  features/option-list.feature
  src/Option_Command.php
Labels: bug, command:option

#520 `wp post list`: Add JSON input support for `date_query` argument
  features/post.feature
  src/Post_Command.php
Labels: command:post-list

#523 Add a flag for getting post meta as a single value or not
  features/post-meta.feature
  src/WP_CLI/CommandWithMeta.php
Labels: command:post-meta-get
